/* The old way of doing horizontal layouts */
/*li{
    display:inline;
}
*/

/* The modern way of doing horizontal layouts */

ul{
    display: flex;
    flex-direction: row;  /* by default, display: flex has flex direction row */
    list-style: none;
    gap: 16px;

}

header{
    display: flex;
    justify-content: space-between;
}

button{
    padding: 0 1rem;
    color: #e8eaed;
    background-color: #303134;
    border-radius: 4px;
    border: 1px solid #303134;

}



